.header {
    background-image: url(/images/headers.jpg);
    background-size: 100% 100%;
}

.header-inner { position: relative; }

@import "headerband";
@import "site-meta";
@import "site-nav";
@import "menu";
@import "github-banner" if hexo-config('github_banner');
